{{#modal-dialog action="closeModal"}}
    <div class="roulette-modal-header">
        <h4>Select a Game</h4>
    </div>
    <div class="roulette-modal-body">
        <div class="roulette-puzzle-list">
            {{#each puzzle in arrangedContent}}
                <div class="radio">
                    <label>
                        {{radio-button name='roulette-game-button' value=puzzle
                            groupValue=selectedPuzzle}}
                            <strong>{{puzzle.displayName}}</strong>
                            {{#if puzzle.description}}
                                &ndash; {{puzzle.description}}
                            {{/if}}
                    </label>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="roulette-modal-footer">
        <button {{action "closeModal"}}
            class="btn btn-default">
            Cancel
        </button>

        {{#if selectedPuzzle}}
            <button {{action "playPuzzle" selectedPuzzle}}
                class="btn btn-primary">
                Play
            </button>
        {{else}}
            <button
                disabled="disabled"
                class="btn btn-primary">
                Play
            </button>
        {{/if}}
    </div>
{{/modal-dialog}}
