{{#if alertContent}}
<div class="roulette-section">
{{view "alert"}}
</div>
{{/if}}

<div class="roulette-section roulette-betting-area">
    <div class="col-md-4"><div class="roulette-forecast well">
        {{#if isCurrentYearNotCompleted}}
            <h4>Let's Invest in {{currentYear}}!</h4>

            <p>
                The seasonal forecast gives a
                <strong class="roulette-wet">{{currentRound.aboveForecast}}%</strong>
                chance of above-average rainfall, a
                <strong class="roulette-normal">{{currentRound.normalForecast}}%</strong>
                chance of average rainfall, and a
                <strong class="roulette-dry">{{currentRound.belowForecast}}%</strong>
                chance of below-average rainfall (see table below). Now it's time for you to invest in your goods for the coming season. You currently have
                <strong>${{currentInventory}}</strong>,
                please use the interface to the right to invest in umbrellas, shirts, and/or sun hats.
            </p>
        {{else}}
            <div class="roulette-observed">
                <p>
                    The season turned out to be <strong
                        {{bind-attr class=currentObservationTextObject.cssClass}}
                        >{{currentObservationTextObject.text}}</strong>.
                        Based on your investments, you sold X (number of)
                        {{currentObservationTextObject.soldItemType}}
                        and you (made/lost) $X.
                        You now have <strong>${{currentInventory}}</strong>
                        with which to invest in next year's goods.
                </p>
            </div>
            {{#unless isPuzzleCompleted}}
                <button
                    {{action 'goToYear' nextYear}}
                    type="button"
                    class="btn btn-success">
                    Next Round: {{nextYear}}
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            {{else}}
                <button
                    {{action 'showPuzzleFinishedModal'}}
                    style="font-weight: bold;"
                    type="button"
                    class="btn btn-success">
                    Lessons Learned
                </button>
            {{/unless}}
        {{/if}}
    </div></div>
    <div class="col-md-2 roulette-box roulette-bg-wet" id="left">
        <div class="roulette-climage-img">
            <img src="img/umbrella.png" height="100" />
        </div>
        <div class="roulette-bet-desc">
            <span>Umbrellas</span> &bull;
            <span><em>Wet</em></span>
        </div>
        <div class="roulette-bet-area">
            {{view "purchase-input"
            value=umbrellasToBuyPercentage
            disabled=isCurrentYearCompleted
            content=inputSum
            autofocus="autofocus"}} <span class="roulette-percent">%</span>
        </div>
    </div>
    <div class="col-md-2 roulette-box roulette-bg-normal">
        <div class="roulette-climage-img">
            <img src="img/shirt.png" height="100" />
        </div>
        <div class="roulette-bet-desc">
            <span>Shirts</span> &bull;
            <span><em>Normal</em></span>
        </div>
        <div class="roulette-bet-area">
            {{view "purchase-input"
            value=shirtsToBuyPercentage
            disabled=isCurrentYearCompleted
            content=inputSum}} <span class="roulette-percent">%</span>
        </div>
    </div>
    <div class="col-md-2 roulette-box roulette-bg-dry">
        <div class="roulette-climage-img">
            <img src="img/hat.png" height="100" />
        </div>
        <div class="roulette-bet-desc">
            <span>Hats</span> &bull;
            <span><em>Dry</em></span>
        </div>
        <div class="roulette-bet-area">
            {{view "purchase-input"
            value=hatsToBuyPercentage
            disabled=isCurrentYearCompleted
            content=inputSum}} <span class="roulette-percent">%</span>
        </div>
    </div>
    <div class="col-md-2 roulette-box roulette-box-info" id="right">
    
        <div class="roulette-box-top">
            {{#if isCurrentYearCompleted}}
                <div>Investment for {{currentYear}} complete.</div>
                <div>New Total: ${{currentInventory}}</div>
            {{else}}
                <div class="roulette-inventory-title">
                    Investments in {{currentYear}}:
                </div>
                <div class="roulette-allocated-money">
                    ${{allocatedMoney}} of ${{currentInventory}}
                </div>
                <div class="roulette-allocated-percentage">
                    ({{allocatedPercentage}}% of 100%)
                </div>
            {{/if}}
        </div>

        <div class="roulette-box-bottom">
            {{#unless isCurrentYearCompleted}}
                <button
                    {{action 'invest'}}
                    {{bind-attr disabled=isEverythingNotAllocated}}
                    type="button"
                    class="btn btn-success">
                    Invest in {{currentYear}}
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            {{/unless}}
        </div>
    </div>
</div>


<div class="roulette-section">
    {{outlet spreadsheet}}
</div>

<div class="roulette-section">
    {{view 'puzzle-graph'}}
</div>

{{#if isShowingSecretPlayer}}
    <div class="roulette-section">
        {{outlet secret-player-spreadsheet}}
    </div>
{{/if}}
