{{#modal-dialog}}
    <div class="roulette-modal-header">
        <h4>Game Completed</h4>
    </div>
    <div class="roulette-modal-body">
        {{#if isPracticeGame}}
            <p>
                Congratulations! You've successfully completed the practice game. If you have questions about how this game worked, re-read the rules and try the practice game again. Please take this chance to think about what you learned so you can apply it to the full game. If you go bankrupt in the full game, you will not be able to restart and the game will be over.
            </p>
        {{else}}
        <p>
            Congratulations! You completed the game with ${{currentInventory}}.
        </p>
        {{/if}}

        {{#if hasSecretPlayer}}
            <p>
                The optimal strategy for this game is shown in table below. As you can see, the way to get the most reliable growth of profit is to distribute your wholesale purchases proportional to the forecast. For example, if the forecast calls for 20% below-average, 30% average, and 50% above average, the optimal strategy would entail the purchase (given a starting bank of $100) of $20 of sun-hats, $30 of t-shirts, and $50 of umbrellas. Although you may never have a huge profit, you are distributing your risk such that you will also likely never go bankrupt.
            </p>
        {{/if}}

        {{#unless isPracticeGame}}
        <div class="roulette-lessons-learned">
            <h3>Lessons Learned</h3>
            <p>
                As you may have noticed during the game, seasonal probabilistic forecasts are sometimes "wrong" in the sense that the highest probability category does not always verify.  There will likely always be some years with losses, and that’s why it’s important to develop a good long-term investment strategy. This is not unlike many stock market investments; with the exception of those who take high risks, investors typically invest in stocks that they think will gain steadily over time. It is assumed there may be some occasional losses, but overall the trend will be increased growth of the stock.
            </p>

            <p>
                Even if a forecast is sometimes “wrong” (wrong is in quotes because due to the probabilistic nature of the forecast, all outcomes usually have some likelihood attached to them), those that are "right" most of the time are considered reliable forecast. If we can assume the forecast is reliable (e.g. a category forecast for 40% likelihood actually occurs 40% of the time) you can maximize growth in profits by using the Kelly strategy.  The Kelly strategy involves allocating investments directly proportional to the forecast categories (e.g. putting 40% of your investment to category forecast with 40% likelihood, etc). This strategy has been mathematically demonstrated to give you the maximum GROWTH of profits but not maximum EXPECTED profit.  The maximum expected profit could be reached by betting 100% on the category with the highest probability.  The problem with this strategy is that although it can turn a very large profit, the chance of making a massive profit is very small, and the chance of going bankrupt is high.
            </p>

            <p>
                Without any forecast information, all three categories are inherently equally likely. If you invest according to these climatological probabilities (33% in each category), you won't gain a profit, but you are also not likely to lose much money. Using information from the forecasts, you can profit. Although probabilistic forecasts will occasionally result in loss-making decisions, the net result over time should produce reliable profit.
            </p>

            {{#if lessonsLearned}}
                <h3>Specific lessons for this game</h3>
                {{{lessonsLearned}}}
            {{/if}}
        </div>
        {{/unless}}
    </div>
    <div class="roulette-modal-footer">
        <a class="btn btn-primary" {{action "closeModal"}}>OK</a>
        <a class="btn btn-primary" {{action "closeModal"}}>Play next game</a>
    </div>
{{/modal-dialog}}
