<div class="roulette-spreadsheet">
    <h4>Secret Player</h4>
    <table class="table">
        <thead>
            <th>Years</th>
            <th></th>
            {{#each year in years}}
            <th>{{year}}</th>
            {{/each}}
        </thead>
        <tbody>
        <tr>
            <td>Observation</td>
            <td></td>
            {{#each observation in allPuzzleObservations}}
                <td class="">{{observation}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Investment %</td>
            <td class="roulette-bg-wet">Wet</td>
            {{#each percentage in allWetForecasts}}
                <td class="roulette-bg-wet-light">{{percentage}}%</td>
            {{/each}}
        </tr>
        <tr>
            <td></td>
            <td class="roulette-bg-normal">Normal</td>
            {{#each percentage in allNormalForecasts}}
                <td class="roulette-bg-normal-light">{{percentage}}%</td>
            {{/each}}
        </tr>
        <tr>
            <td></td>
            <td class="roulette-bg-dry">Dry</td>
            {{#each percentage in allDryForecasts}}
                <td class="roulette-bg-dry-light">{{percentage}}%</td>
            {{/each}}
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Money at End of Round</td>
                {{#each amount in endOfRoundInventories}}
                    <td>${{amount}}</td>
                {{/each}}
            </tr>
        </tfoot>
    </table>
</div>
