<div class="roulette-spreadsheet">
    <table class="table">
        <thead>
            <tr>
            {{#if tableYearData.length}}
                {{#each obj in tableYearData}}
                    <th {{bind-attr title="obj.year"}}
                        colspan="3">{{obj.year}}</th>
                {{/each}}
            {{else}}
            <th {{bind-attr title="puzzleRounds.firstObject.year"}}
                colspan="3">{{puzzleRounds.firstObject.year}}</th>
            {{/if}}
            </tr>
        </thead>
        <tbody>
            <tr class="roulette-legend-row">
                {{#each tableYearData}}
                    <td title="Forecast" class="roulette-bg-lightlightgrey">
                        <span class="glyphicon glyphicon-leaf"></span>
                    </td>
                    <td title="Investment" class="roulette-bg-lightlightgrey">
                        <span class="glyphicon glyphicon-briefcase"></span>
                    </td>
                    <td title="Return" class="roulette-bg-lightlightgrey roulette-return">
                        <span class="glyphicon glyphicon-usd"></span>
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-wet-row">
                {{#each obj in tableWetData}}
                    <td title="Wet Forecast"
                        {{bind-attr
                        class="obj.isActual:roulette-actual :roulette-bg-wet"}}
                        <span class="roulette-table-forecast">{{obj.forecast}}%</span>
                        {{#if obj.isActual}}
                            <span class="roulette-actual-check"
                                title="Observation">✓</span>
                        {{/if}}
                    </td>
                    <td title="Investment in Umbrellas"
                        class="roulette-money-cell roulette-investment">
                        {{#if obj.isCurrentYear}}
                            {{#if isCurrentYearCompleted}}
                                ${{obj.investment}}
                            {{else}}
                                ${{umbrellasToBuy}}
                            {{/if}}
                        {{else}}
                            ${{obj.investment}}
                        {{/if}}
                    </td>
                    <td title="Return from Umbrellas Sold"
                        class="roulette-money-cell roulette-return">
                        {{#if obj.isCurrentYear}}
                            {{#if isCurrentYearCompleted}}
                                ${{obj.invReturn}}
                            {{/if}}
                        {{else}}
                            ${{obj.invReturn}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-normal-row">
                {{#each obj in tableNormalData}}
                    <td title="Normal Forecast"
                        {{bind-attr
                        class="obj.isActual:roulette-actual :roulette-bg-normal"}}
                        <span class="roulette-table-forecast">{{obj.forecast}}%</span>
                        {{#if obj.isActual}}
                            <span class="roulette-actual-check"
                                title="Observation">✓</span>
                        {{/if}}
                    </td>
                    <td title="Investment in Shirts"
                        class="roulette-money-cell roulette-investment">
                        {{#if obj.isCurrentYear}}
                            {{#if isCurrentYearCompleted}}
                                ${{obj.investment}}
                            {{else}}
                                ${{shirtsToBuy}}
                            {{/if}}
                        {{else}}
                            ${{obj.investment}}
                        {{/if}}
                    </td>
                    <td title="Return from Shirts Sold"
                        class="roulette-money-cell roulette-return">
                        {{#if obj.isCurrentYear}}
                            {{#if isCurrentYearCompleted}}
                                ${{obj.invReturn}}
                            {{/if}}
                        {{else}}
                            ${{obj.invReturn}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-dry-row">
                {{#each obj in tableDryData}}
                    <td title="Dry Forecast"
                        {{bind-attr
                        class="obj.isActual:roulette-actual :roulette-bg-dry"}}
                        <span class="roulette-table-forecast">{{obj.forecast}}%</span>
                        {{#if obj.isActual}}
                            <span class="roulette-actual-check"
                                title="Observation">✓</span>
                        {{/if}}
                    </td>
                    <td title="Investment in Sun Hats"
                        class="roulette-money-cell roulette-investment">
                        {{#if obj.isCurrentYear}}
                            {{#if isCurrentYearCompleted}}
                                ${{obj.investment}}
                            {{else}}
                                ${{hatsToBuy}}
                            {{/if}}
                        {{else}}
                            ${{obj.investment}}
                        {{/if}}
                    </td>
                    <td title="Return from Sun Hats Sold"
                        class="roulette-money-cell roulette-return">
                        {{#if obj.isCurrentYear}}
                            {{#if isCurrentYearCompleted}}
                                ${{obj.invReturn}}
                            {{/if}}
                        {{else}}
                            ${{obj.invReturn}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-total-row">
                {{#each obj in tableTotalData}}
                    <td>
                    </td>
                    <td title="Investment total"
                        class="roulette-money-cell roulette-investment">
                        {{#if obj.isCurrentYear}}
                            {{#unless isCurrentYearCompleted}}
                                ${{allocatedMoney}}
                            {{else}}
                                ${{obj.investmentTotal}}
                            {{/unless}}
                        {{else}}
                            {{#if obj.investmentTotal}}
                                ${{obj.investmentTotal}}
                            {{/if}}
                        {{/if}}
                    </td>
                    <td class="roulette-money-cell"
                        title="End of round total inventory">
                        {{#if obj.invReturnTotal}}
                            ${{obj.invReturnTotal}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>
