<div class="roulette-spreadsheet">
    <table class="table">
        <thead>
            <tr>
            {{#each year in years}}
                <th {{bind-attr title="year"}} colspan="3">{{year}}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
            <tr class="roulette-legend-row">
                {{#each tableYearData}}
                    <td title="Forecast" class="roulette-bg-lightlightgrey">
                        <span class="glyphicon glyphicon-leaf"></span>
                    </td>
                    <td title="Investment" class="roulette-bg-lightlightgrey">
                        <span class="glyphicon glyphicon-briefcase"></span>
                    </td>
                    <td title="Return" class="roulette-bg-lightlightgrey roulette-return">
                        <span class="glyphicon glyphicon-usd"></span>
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-wet-row">
                {{#each obj in tableWetData}}
                    <td title="Wet Forecast"
                        {{bind-attr
                        class="obj.isActual:roulette-actual
                        obj.isActual:roulette-bg-wet-light
                        obj.isActual::roulette-bg-wet"}}>
                        <span class="roulette-table-forecast">{{obj.forecast}}%</span>
                        {{#if obj.isActual}}
                            <span class="roulette-actual-check">✓</span>
                        {{/if}}
                    </td>
                    <td title="Investment in Umbrellas"
                        class="roulette-investment">
                        {{#if obj.isCurrentYear}}
                            ${{umbrellasToBuy}}
                        {{else}}
                            ${{obj.investment}}
                        {{/if}}
                    </td>
                    <td title="Return from Umbrellas Sold"
                        class="roulette-return">
                        {{#if obj.isCurrentYear}}
                            {{#if isCurrentYearCompleted}}
                                ${{obj.invReturn}}
                            {{/if}}
                        {{else}}
                            ${{obj.invReturn}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-normal-row">
                {{#each obj in tableNormalData}}
                    <td title="Normal Forecast"
                        {{bind-attr
                        class="obj.isActual:roulette-actual
                        obj.isActual:roulette-bg-normal-light
                        obj.isActual::roulette-bg-normal"}}>
                        <span class="roulette-table-forecast">{{obj.forecast}}%</span>
                        {{#if obj.isActual}}
                            <span class="roulette-actual-check">✓</span>
                        {{/if}}
                    </td>
                    <td title="Investment in Shirts"
                        class="roulette-investment">
                        {{#if obj.isCurrentYear}}
                            ${{shirtsToBuy}}
                        {{else}}
                            ${{obj.investment}}
                        {{/if}}
                    </td>
                    <td title="Return from Shirts Sold"
                        class="roulette-return">
                        {{#if obj.isCurrentYear}}
                            {{#if isCurrentYearCompleted}}
                                ${{obj.invReturn}}
                            {{/if}}
                        {{else}}
                            ${{obj.invReturn}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-dry-row">
                {{#each obj in tableDryData}}
                    <td title="Dry Forecast"
                        {{bind-attr
                        class="obj.isActual:roulette-actual
                        obj.isActual:roulette-bg-dry-light
                        obj.isActual::roulette-bg-dry"}}>
                        <span class="roulette-table-forecast">{{obj.forecast}}%</span>
                        {{#if obj.isActual}}
                            <span class="roulette-actual-check">✓</span>
                        {{/if}}
                    </td>
                    <td title="Investment in Sun Hats"
                        class="roulette-investment">
                        {{#if obj.isCurrentYear}}
                            ${{hatsToBuy}}
                        {{else}}
                            ${{obj.investment}}
                        {{/if}}
                    </td>
                    <td title="Return from Sun Hats Sold"
                        class="roulette-return">
                        {{#if obj.isCurrentYear}}
                            {{#if isCurrentYearCompleted}}
                                ${{obj.invReturn}}
                            {{/if}}
                        {{else}}
                            ${{obj.invReturn}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-total-row">
                {{#each obj in tableTotalData}}
                    <td>
                    </td>
                    <td title="Investment total"
                        class="roulette-investment">
                        {{#if obj.isCurrentYear}}
                            {{#unless isCurrentYearCompleted}}
                                ${{allocatedMoney}}
                            {{else}}
                                ${{obj.investmentTotal}}
                            {{/unless}}
                        {{else}}
                            {{#if obj.investmentTotal}}
                                ${{obj.investmentTotal}}
                            {{/if}}
                        {{/if}}
                    </td>
                    <td title="End of round total inventory">
                        {{#if obj.invReturnTotal}}
                            ${{obj.invReturnTotal}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>
