<div class="roulette-spreadsheet">
    <table class="table">
        <thead>
            <tr>
            {{#each year in years}}
                <th colspan="3">{{year}}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
            <tr class="roulette-legend-row">
                {{#each tableYearData}}
                    <td>?</td>
                    <td>I</td>
                    <td class="roulette-return">$</td>
                {{/each}}
            </tr>
            <tr class="roulette-wet-row">
                {{#each obj in tableWetData}}
                    <td class="roulette-bg-wet-light">
                        {{#if obj.forecast}}
                            {{obj.forecast}}%
                        {{/if}}
                    </td>
                    <td class="roulette-investment">
                        {{#if obj.isCurrentYear}}
                            ${{umbrellasToBuy}}
                        {{else}}
                            {{obj.investment}}
                        {{/if}}
                    </td>
                    <td class="roulette-return">
                        {{#if obj.invReturn}}
                            ${{obj.invReturn}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-normal-row">
                {{#each obj in tableNormalData}}
                    <td class="roulette-bg-normal-light">
                        {{#if obj.forecast}}
                            {{obj.forecast}}%
                        {{/if}}
                    </td>
                    <td class="roulette-investment">
                        {{#if obj.isCurrentYear}}
                            ${{shirtsToBuy}}
                        {{else}}
                            {{obj.investment}}
                        {{/if}}
                    </td>
                    <td class="roulette-return">
                        {{#if obj.invReturn}}
                            ${{obj.invReturn}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-dry-row">
                {{#each obj in tableDryData}}
                    <td class="roulette-bg-dry-light">
                        {{#if obj.forecast}}
                            {{obj.forecast}}%
                        {{/if}}
                    </td>
                    <td class="roulette-investment">
                        {{#if obj.isCurrentYear}}
                            ${{hatsToBuy}}
                        {{else}}
                            {{obj.investment}}
                        {{/if}}
                    </td>
                    <td class="roulette-return">
                        {{#if obj.invReturn}}
                            ${{obj.invReturn}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="roulette-total-row">
                {{#each obj in tableTotalData}}
                    <td>
                    </td>
                    <td class="roulette-investment">
                        $300
                    </td>
                    <td class="roulette-return">
                        ${{obj.invReturnTotal}}
                    </td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>
